<% if @locale == "es" %>
  <%= link_to "EN", url_for(locale: 'en')  %>
<% else %>
  <%= link_to "ES", url_for(locale: 'es')  %>
<% end %>


<h1><%= t('home_title') %></h1>

<div data-controller="facts" data-type="words">
  <input type="text" data-facts-target="input">
  <button  data-action="facts#search"><%= t('buttons.search') %></button>
</div>

<button
  data-controller="facts"
  data-action="facts#search"
  data-type="random">
    <%= t('buttons.random') %>
</button>

<ul data-controller="categories" data-categories-target="results"></ul>

<ul id="results">
  <div id="pages"></div>
  <div id="pagination"></div>
</ul>

<div id="email-field" class="hidden" data-controller="email">
  <input type="text" data-email-target="input" placeholder="email">
  <button data-action="email#send"><%= t('buttons.send') %></button>
</div>